# Project exclude paths
/out/
/.idea/vcs.xml
/.idea/codeStyles/codeStyleConfig.xml
/ts_src/node_modules/.package-lock.json
/ts_src/node_modules/.bin/acorn
/ts_src/node_modules/acorn/bin/acorn
/ts_src/node_modules/acorn/dist/acorn.d.ts
/ts_src/node_modules/acorn/dist/acorn.js
/ts_src/node_modules/acorn/dist/acorn.mjs
/ts_src/node_modules/acorn/dist/acorn.mjs.d.ts
/ts_src/node_modules/@jridgewell/trace-mapping/dist/types/any-map.d.ts
/ts_src/node_modules/diff/lib/patch/apply.js
/ts_src/node_modules/diff/lib/diff/array.js
/ts_src/node_modules/diff/lib/util/array.js
/ts_src/node_modules/@types/node/assert.d.ts
/ts_src/node_modules/@types/node/async_hooks.d.ts
/ts_src/node_modules/typescript/AUTHORS.md
/ts_src/node_modules/diff/lib/diff/base.js
/ts_src/node_modules/ts-node/dist/bin.d.ts
/ts_src/node_modules/acorn/dist/bin.js
/ts_src/node_modules/ts-node/dist/bin.js
/ts_src/node_modules/ts-node/dist/bin.js.map
/ts_src/node_modules/ts-node/dist/bin-cwd.d.ts
/ts_src/node_modules/ts-node/dist/bin-cwd.js
/ts_src/node_modules/ts-node/dist/bin-cwd.js.map
/ts_src/node_modules/ts-node/dist/bin-esm.d.ts
/ts_src/node_modules/ts-node/dist/bin-esm.js
/ts_src/node_modules/ts-node/dist/bin-esm.js.map
/ts_src/node_modules/ts-node/dist/bin-script.d.ts
/ts_src/node_modules/ts-node/dist/bin-script.js
/ts_src/node_modules/ts-node/dist/bin-script.js.map
/ts_src/node_modules/ts-node/dist/bin-script-deprecated.d.ts
/ts_src/node_modules/ts-node/dist/bin-script-deprecated.js
/ts_src/node_modules/ts-node/dist/bin-script-deprecated.js.map
/ts_src/node_modules/ts-node/dist/bin-transpile.d.ts
/ts_src/node_modules/ts-node/dist/bin-transpile.js
/ts_src/node_modules/ts-node/dist/bin-transpile.js.map
/ts_src/node_modules/@jridgewell/trace-mapping/dist/types/binary-search.d.ts
/ts_src/node_modules/@cspotcode/source-map-support/browser-source-map-support.js
/ts_src/node_modules/@types/node/buffer.d.ts
/ts_src/node_modules/@jridgewell/trace-mapping/dist/types/by-source.d.ts
/ts_src/node_modules/typescript/lib/cancellationToken.js
/ts_src/node_modules/acorn/CHANGELOG.md
/ts_src/node_modules/acorn-walk/CHANGELOG.md
/ts_src/node_modules/create-require/CHANGELOG.md
/ts_src/node_modules/v8-compile-cache-lib/CHANGELOG.md
/ts_src/node_modules/diff/lib/diff/character.js
/ts_src/node_modules/ts-node/dist/child/child-entrypoint.d.ts
/ts_src/node_modules/ts-node/dist/child/child-entrypoint.js
/ts_src/node_modules/ts-node/dist/child/child-entrypoint.js.map
/ts_src/node_modules/ts-node/dist/child/child-loader.d.ts
/ts_src/node_modules/ts-node/dist/child/child-loader.js
/ts_src/node_modules/ts-node/dist/child/child-loader.js.map
/ts_src/node_modules/ts-node/child-loader.mjs
/ts_src/node_modules/ts-node/dist/child/child-require.d.ts
/ts_src/node_modules/ts-node/dist/child/child-require.js
/ts_src/node_modules/ts-node/dist/child/child-require.js.map
/ts_src/node_modules/@types/node/child_process.d.ts
/ts_src/node_modules/ts-node/dist/cjs-resolve-hooks.d.ts
/ts_src/node_modules/ts-node/dist/cjs-resolve-hooks.js
/ts_src/node_modules/ts-node/dist/cjs-resolve-hooks.js.map
/ts_src/node_modules/@types/node/cluster.d.ts
/ts_src/node_modules/typescript/CODE_OF_CONDUCT.md
/ts_src/node_modules/ts-node/dist/configuration.d.ts
/ts_src/node_modules/ts-node/dist/configuration.js
/ts_src/node_modules/ts-node/dist/configuration.js.map
/ts_src/node_modules/@types/node/console.d.ts
/ts_src/node_modules/@types/node/constants.d.ts
/ts_src/node_modules/@types/node/stream/consumers.d.ts
/ts_src/node_modules/diff/CONTRIBUTING.md
/ts_src/node_modules/typescript/CopyrightNotice.txt
/ts_src/node_modules/diff/lib/patch/create.js
/ts_src/node_modules/create-require/create-require.d.ts
/ts_src/node_modules/create-require/create-require.js
/ts_src/node_modules/@types/node/crypto.d.ts
/ts_src/node_modules/diff/lib/diff/css.js
/ts_src/node_modules/@types/node/dgram.d.ts
/ts_src/node_modules/typescript/lib/cs/diagnosticMessages.generated.json
/ts_src/node_modules/typescript/lib/de/diagnosticMessages.generated.json
/ts_src/node_modules/typescript/lib/es/diagnosticMessages.generated.json
/ts_src/node_modules/typescript/lib/fr/diagnosticMessages.generated.json
/ts_src/node_modules/typescript/lib/it/diagnosticMessages.generated.json
/ts_src/node_modules/typescript/lib/ja/diagnosticMessages.generated.json
/ts_src/node_modules/typescript/lib/ko/diagnosticMessages.generated.json
/ts_src/node_modules/typescript/lib/pl/diagnosticMessages.generated.json
/ts_src/node_modules/typescript/lib/pt-br/diagnosticMessages.generated.json
/ts_src/node_modules/typescript/lib/ru/diagnosticMessages.generated.json
/ts_src/node_modules/typescript/lib/tr/diagnosticMessages.generated.json
/ts_src/node_modules/typescript/lib/zh-cn/diagnosticMessages.generated.json
/ts_src/node_modules/typescript/lib/zh-tw/diagnosticMessages.generated.json
/ts_src/node_modules/@types/node/diagnostics_channel.d.ts
/ts_src/node_modules/diff/dist/diff.js
/ts_src/node_modules/diff/dist/diff.min.js
/ts_src/node_modules/diff/lib/util/distance-iterator.js
/ts_src/node_modules/diff/lib/convert/dmp.js
/ts_src/node_modules/@types/node/dns.d.ts
/ts_src/node_modules/@types/node/domain.d.ts
/ts_src/node_modules/ts-node/dist/esm.d.ts
/ts_src/node_modules/ts-node/dist/esm.js
/ts_src/node_modules/ts-node/dist/esm.js.map
/ts_src/node_modules/ts-node/esm.mjs
/ts_src/node_modules/@types/node/events.d.ts
/ts_src/node_modules/ts-node/dist/file-extensions.d.ts
/ts_src/node_modules/ts-node/dist/file-extensions.js
/ts_src/node_modules/ts-node/dist/file-extensions.js.map
/ts_src/node_modules/ts-node/register/files.js
/ts_src/node_modules/@types/node/fs.d.ts
/ts_src/node_modules/@types/node/globals.d.ts
/ts_src/node_modules/@types/node/globals.global.d.ts
/ts_src/node_modules/@types/node/http.d.ts
/ts_src/node_modules/@types/node/http2.d.ts
/ts_src/node_modules/@types/node/https.d.ts
/ts_src/node_modules/@types/node/index.d.ts
/ts_src/node_modules/arg/index.d.ts
/ts_src/node_modules/make-error/index.d.ts
/ts_src/node_modules/ts-node/dist/index.d.ts
/ts_src/node_modules/yn/index.d.ts
/ts_src/node_modules/diff/lib/index.es6.js
/ts_src/index.html
/ts_src/node_modules/arg/index.js
/ts_src/node_modules/diff/lib/index.js
/ts_src/node_modules/make-error/index.js
/ts_src/node_modules/ts-node/dist/index.js
/ts_src/node_modules/ts-node/register/index.js
/ts_src/node_modules/yn/index.js
/ts_src/node_modules/ts-node/dist/index.js.map
/ts_src/node_modules/@types/node/inspector.d.ts
/ts_src/node_modules/diff/lib/diff/json.js
/ts_src/node_modules/yn/lenient.js
/ts_src/node_modules/typescript/lib/lib.d.ts
/ts_src/node_modules/typescript/lib/lib.dom.d.ts
/ts_src/node_modules/typescript/lib/lib.dom.iterable.d.ts
/ts_src/node_modules/typescript/lib/lib.es5.d.ts
/ts_src/node_modules/typescript/lib/lib.es6.d.ts
/ts_src/node_modules/typescript/lib/lib.es2015.collection.d.ts
/ts_src/node_modules/typescript/lib/lib.es2015.core.d.ts
/ts_src/node_modules/typescript/lib/lib.es2015.d.ts
/ts_src/node_modules/typescript/lib/lib.es2015.generator.d.ts
/ts_src/node_modules/typescript/lib/lib.es2015.iterable.d.ts
/ts_src/node_modules/typescript/lib/lib.es2015.promise.d.ts
/ts_src/node_modules/typescript/lib/lib.es2015.proxy.d.ts
/ts_src/node_modules/typescript/lib/lib.es2015.reflect.d.ts
/ts_src/node_modules/typescript/lib/lib.es2015.symbol.d.ts
/ts_src/node_modules/typescript/lib/lib.es2015.symbol.wellknown.d.ts
/ts_src/node_modules/typescript/lib/lib.es2016.array.include.d.ts
/ts_src/node_modules/typescript/lib/lib.es2016.d.ts
/ts_src/node_modules/typescript/lib/lib.es2016.full.d.ts
/ts_src/node_modules/typescript/lib/lib.es2017.d.ts
/ts_src/node_modules/typescript/lib/lib.es2017.full.d.ts
/ts_src/node_modules/typescript/lib/lib.es2017.intl.d.ts
/ts_src/node_modules/typescript/lib/lib.es2017.object.d.ts
/ts_src/node_modules/typescript/lib/lib.es2017.sharedmemory.d.ts
/ts_src/node_modules/typescript/lib/lib.es2017.string.d.ts
/ts_src/node_modules/typescript/lib/lib.es2017.typedarrays.d.ts
/ts_src/node_modules/typescript/lib/lib.es2018.asyncgenerator.d.ts
/ts_src/node_modules/typescript/lib/lib.es2018.asynciterable.d.ts
/ts_src/node_modules/typescript/lib/lib.es2018.d.ts
/ts_src/node_modules/typescript/lib/lib.es2018.full.d.ts
/ts_src/node_modules/typescript/lib/lib.es2018.intl.d.ts
/ts_src/node_modules/typescript/lib/lib.es2018.promise.d.ts
/ts_src/node_modules/typescript/lib/lib.es2018.regexp.d.ts
/ts_src/node_modules/typescript/lib/lib.es2019.array.d.ts
/ts_src/node_modules/typescript/lib/lib.es2019.d.ts
/ts_src/node_modules/typescript/lib/lib.es2019.full.d.ts
/ts_src/node_modules/typescript/lib/lib.es2019.object.d.ts
/ts_src/node_modules/typescript/lib/lib.es2019.string.d.ts
/ts_src/node_modules/typescript/lib/lib.es2019.symbol.d.ts
/ts_src/node_modules/typescript/lib/lib.es2020.bigint.d.ts
/ts_src/node_modules/typescript/lib/lib.es2020.d.ts
/ts_src/node_modules/typescript/lib/lib.es2020.date.d.ts
/ts_src/node_modules/typescript/lib/lib.es2020.full.d.ts
/ts_src/node_modules/typescript/lib/lib.es2020.intl.d.ts
/ts_src/node_modules/typescript/lib/lib.es2020.number.d.ts
/ts_src/node_modules/typescript/lib/lib.es2020.promise.d.ts
/ts_src/node_modules/typescript/lib/lib.es2020.sharedmemory.d.ts
/ts_src/node_modules/typescript/lib/lib.es2020.string.d.ts
/ts_src/node_modules/typescript/lib/lib.es2020.symbol.wellknown.d.ts
/ts_src/node_modules/typescript/lib/lib.es2021.d.ts
/ts_src/node_modules/typescript/lib/lib.es2021.full.d.ts
/ts_src/node_modules/typescript/lib/lib.es2021.intl.d.ts
/ts_src/node_modules/typescript/lib/lib.es2021.promise.d.ts
/ts_src/node_modules/typescript/lib/lib.es2021.string.d.ts
/ts_src/node_modules/typescript/lib/lib.es2021.weakref.d.ts
/ts_src/node_modules/typescript/lib/lib.es2022.array.d.ts
/ts_src/node_modules/typescript/lib/lib.es2022.d.ts
/ts_src/node_modules/typescript/lib/lib.es2022.error.d.ts
/ts_src/node_modules/typescript/lib/lib.es2022.full.d.ts
/ts_src/node_modules/typescript/lib/lib.es2022.intl.d.ts
/ts_src/node_modules/typescript/lib/lib.es2022.object.d.ts
/ts_src/node_modules/typescript/lib/lib.es2022.string.d.ts
/ts_src/node_modules/typescript/lib/lib.esnext.d.ts
/ts_src/node_modules/typescript/lib/lib.esnext.full.d.ts
/ts_src/node_modules/typescript/lib/lib.esnext.intl.d.ts
/ts_src/node_modules/typescript/lib/lib.esnext.promise.d.ts
/ts_src/node_modules/typescript/lib/lib.esnext.string.d.ts
/ts_src/node_modules/typescript/lib/lib.esnext.weakref.d.ts
/ts_src/node_modules/typescript/lib/lib.scripthost.d.ts
/ts_src/node_modules/typescript/lib/lib.webworker.d.ts
/ts_src/node_modules/typescript/lib/lib.webworker.importscripts.d.ts
/ts_src/node_modules/typescript/lib/lib.webworker.iterable.d.ts
/ts_src/node_modules/@jridgewell/resolve-uri/LICENSE
/ts_src/node_modules/@jridgewell/sourcemap-codec/LICENSE
/ts_src/node_modules/@jridgewell/trace-mapping/LICENSE
/ts_src/node_modules/@tsconfig/node10/LICENSE
/ts_src/node_modules/@tsconfig/node12/LICENSE
/ts_src/node_modules/@tsconfig/node14/LICENSE
/ts_src/node_modules/@tsconfig/node16/LICENSE
/ts_src/node_modules/@types/node/LICENSE
/ts_src/node_modules/acorn/LICENSE
/ts_src/node_modules/acorn-walk/LICENSE
/ts_src/node_modules/create-require/LICENSE
/ts_src/node_modules/diff/LICENSE
/ts_src/node_modules/make-error/LICENSE
/ts_src/node_modules/ts-node/LICENSE
/ts_src/node_modules/v8-compile-cache-lib/LICENSE
/ts_src/node_modules/yn/license
/ts_src/node_modules/@cspotcode/source-map-support/LICENSE.md
/ts_src/node_modules/arg/LICENSE.md
/ts_src/node_modules/typescript/LICENSE.txt
/ts_src/node_modules/diff/lib/diff/line.js
/ts_src/node_modules/make-error/dist/make-error.js
/ts_src/node_modules/diff/lib/patch/merge.js
/ts_src/node_modules/typescript/loc/lcl/CHS/TypeScriptLanguageService/Microsoft.CodeAnalysis.TypeScript.EditorFeatures.dll.lcl
/ts_src/node_modules/typescript/loc/lcl/CHT/TypeScriptLanguageService/Microsoft.CodeAnalysis.TypeScript.EditorFeatures.dll.lcl
/ts_src/node_modules/typescript/loc/lcl/CSY/TypeScriptLanguageService/Microsoft.CodeAnalysis.TypeScript.EditorFeatures.dll.lcl
/ts_src/node_modules/typescript/loc/lcl/DEU/TypeScriptLanguageService/Microsoft.CodeAnalysis.TypeScript.EditorFeatures.dll.lcl
/ts_src/node_modules/typescript/loc/lcl/ESN/TypeScriptLanguageService/Microsoft.CodeAnalysis.TypeScript.EditorFeatures.dll.lcl
/ts_src/node_modules/typescript/loc/lcl/FRA/TypeScriptLanguageService/Microsoft.CodeAnalysis.TypeScript.EditorFeatures.dll.lcl
/ts_src/node_modules/typescript/loc/lcl/ITA/TypeScriptLanguageService/Microsoft.CodeAnalysis.TypeScript.EditorFeatures.dll.lcl
/ts_src/node_modules/typescript/loc/lcl/JPN/TypeScriptLanguageService/Microsoft.CodeAnalysis.TypeScript.EditorFeatures.dll.lcl
/ts_src/node_modules/typescript/loc/lcl/KOR/TypeScriptLanguageService/Microsoft.CodeAnalysis.TypeScript.EditorFeatures.dll.lcl
/ts_src/node_modules/typescript/loc/lcl/PLK/TypeScriptLanguageService/Microsoft.CodeAnalysis.TypeScript.EditorFeatures.dll.lcl
/ts_src/node_modules/typescript/loc/lcl/PTB/TypeScriptLanguageService/Microsoft.CodeAnalysis.TypeScript.EditorFeatures.dll.lcl
/ts_src/node_modules/typescript/loc/lcl/RUS/TypeScriptLanguageService/Microsoft.CodeAnalysis.TypeScript.EditorFeatures.dll.lcl
/ts_src/node_modules/typescript/loc/lcl/TRK/TypeScriptLanguageService/Microsoft.CodeAnalysis.TypeScript.EditorFeatures.dll.lcl
/ts_src/node_modules/@types/node/module.d.ts
/ts_src/node_modules/ts-node/dist/module-type-classifier.d.ts
/ts_src/node_modules/ts-node/dist/module-type-classifier.js
/ts_src/node_modules/ts-node/dist/module-type-classifier.js.map
/ts_src/node_modules/@types/node/net.d.ts
/ts_src/node_modules/ts-node/dist-raw/node-internal-constants.js
/ts_src/node_modules/ts-node/dist-raw/node-internal-errors.js
/ts_src/node_modules/ts-node/dist-raw/node-internal-modules-cjs-helpers.js
/ts_src/node_modules/ts-node/dist-raw/node-internal-modules-cjs-loader.js
/ts_src/node_modules/ts-node/dist-raw/node-internal-modules-esm-get_format.js
/ts_src/node_modules/ts-node/dist-raw/node-internal-modules-esm-resolve.js
/ts_src/node_modules/ts-node/dist-raw/node-internal-modules-package_json_reader.js
/ts_src/node_modules/ts-node/dist-raw/node-internal-repl-await.js
/ts_src/node_modules/ts-node/dist-raw/node-internalBinding-fs.js
/ts_src/node_modules/ts-node/dist-raw/NODE-LICENSE.md
/ts_src/node_modules/ts-node/dist/node-module-type-classifier.d.ts
/ts_src/node_modules/ts-node/dist/node-module-type-classifier.js
/ts_src/node_modules/ts-node/dist/node-module-type-classifier.js.map
/ts_src/node_modules/ts-node/dist-raw/node-nativemodule.js
/ts_src/node_modules/ts-node/dist-raw/node-options.js
/ts_src/node_modules/ts-node/dist-raw/node-primordials.js
/ts_src/node_modules/@types/node/os.d.ts
/ts_src/node_modules/@cspotcode/source-map-support/package.json
/ts_src/node_modules/@jridgewell/resolve-uri/package.json
/ts_src/node_modules/@jridgewell/sourcemap-codec/package.json
/ts_src/node_modules/@jridgewell/trace-mapping/package.json
/ts_src/node_modules/@tsconfig/node10/package.json
/ts_src/node_modules/@tsconfig/node12/package.json
/ts_src/node_modules/@tsconfig/node14/package.json
/ts_src/node_modules/@tsconfig/node16/package.json
/ts_src/node_modules/@types/node/package.json
/ts_src/node_modules/acorn/package.json
/ts_src/node_modules/acorn-walk/package.json
/ts_src/node_modules/arg/package.json
/ts_src/node_modules/create-require/package.json
/ts_src/node_modules/diff/package.json
/ts_src/node_modules/make-error/package.json
/ts_src/node_modules/ts-node/package.json
/ts_src/node_modules/typescript/package.json
/ts_src/node_modules/v8-compile-cache-lib/package.json
/ts_src/node_modules/yn/package.json
/ts_src/package.json
/ts_src/package-lock.json
/ts_src/node_modules/diff/lib/util/params.js
/ts_src/node_modules/diff/lib/patch/parse.js
/ts_src/node_modules/@types/node/path.d.ts
/ts_src/node_modules/@types/node/perf_hooks.d.ts
/ts_src/node_modules/@types/node/process.d.ts
/ts_src/node_modules/typescript/loc/lcl/CHS/Targets/ProjectItemsSchema.xaml.lcl
/ts_src/node_modules/typescript/loc/lcl/CHT/Targets/ProjectItemsSchema.xaml.lcl
/ts_src/node_modules/typescript/loc/lcl/CSY/Targets/ProjectItemsSchema.xaml.lcl
/ts_src/node_modules/typescript/loc/lcl/DEU/Targets/ProjectItemsSchema.xaml.lcl
/ts_src/node_modules/typescript/loc/lcl/ESN/Targets/ProjectItemsSchema.xaml.lcl
/ts_src/node_modules/typescript/loc/lcl/FRA/Targets/ProjectItemsSchema.xaml.lcl
/ts_src/node_modules/typescript/loc/lcl/ITA/Targets/ProjectItemsSchema.xaml.lcl
/ts_src/node_modules/typescript/loc/lcl/JPN/Targets/ProjectItemsSchema.xaml.lcl
/ts_src/node_modules/typescript/loc/lcl/KOR/Targets/ProjectItemsSchema.xaml.lcl
/ts_src/node_modules/typescript/loc/lcl/PLK/Targets/ProjectItemsSchema.xaml.lcl
/ts_src/node_modules/typescript/loc/lcl/PTB/Targets/ProjectItemsSchema.xaml.lcl
/ts_src/node_modules/typescript/loc/lcl/RUS/Targets/ProjectItemsSchema.xaml.lcl
/ts_src/node_modules/typescript/loc/lcl/TRK/Targets/ProjectItemsSchema.xaml.lcl
/ts_src/node_modules/@types/node/dns/promises.d.ts
/ts_src/node_modules/@types/node/fs/promises.d.ts
/ts_src/node_modules/@types/node/stream/promises.d.ts
/ts_src/node_modules/@types/node/timers/promises.d.ts
/ts_src/node_modules/typescript/lib/protocol.d.ts
/ts_src/node_modules/@types/node/punycode.d.ts
/ts_src/node_modules/@types/node/querystring.d.ts
/ts_src/node_modules/@types/node/readline.d.ts
/ts_src/node_modules/@cspotcode/source-map-support/README.md
/ts_src/node_modules/@jridgewell/resolve-uri/README.md
/ts_src/node_modules/@jridgewell/sourcemap-codec/README.md
/ts_src/node_modules/@jridgewell/trace-mapping/README.md
/ts_src/node_modules/@tsconfig/node10/README.md
/ts_src/node_modules/@tsconfig/node12/README.md
/ts_src/node_modules/@tsconfig/node14/README.md
/ts_src/node_modules/@tsconfig/node16/README.md
/ts_src/node_modules/@types/node/README.md
/ts_src/node_modules/acorn/README.md
/ts_src/node_modules/acorn-walk/README.md
/ts_src/node_modules/arg/README.md
/ts_src/node_modules/create-require/README.md
/ts_src/node_modules/diff/README.md
/ts_src/node_modules/make-error/README.md
/ts_src/node_modules/ts-node/dist-raw/README.md
/ts_src/node_modules/ts-node/README.md
/ts_src/node_modules/typescript/lib/README.md
/ts_src/node_modules/typescript/README.md
/ts_src/node_modules/v8-compile-cache-lib/README.md
/ts_src/node_modules/yn/readme.md
/ts_src/node_modules/@cspotcode/source-map-support/register.d.ts
/ts_src/node_modules/@cspotcode/source-map-support/register.js
/ts_src/node_modules/@cspotcode/source-map-support/register-hook-require.d.ts
/ts_src/node_modules/@cspotcode/source-map-support/register-hook-require.js
/ts_src/node_modules/diff/release-notes.md
/ts_src/node_modules/@types/node/repl.d.ts
/ts_src/node_modules/ts-node/dist/repl.d.ts
/ts_src/node_modules/ts-node/dist/repl.js
/ts_src/node_modules/ts-node/dist/repl.js.map
/ts_src/node_modules/@jridgewell/trace-mapping/dist/types/resolve.d.ts
/ts_src/node_modules/@jridgewell/resolve-uri/dist/types/resolve-uri.d.ts
/ts_src/node_modules/@jridgewell/resolve-uri/dist/resolve-uri.mjs
/ts_src/node_modules/@jridgewell/resolve-uri/dist/resolve-uri.mjs.map
/ts_src/node_modules/@jridgewell/resolve-uri/dist/resolve-uri.umd.js
/ts_src/node_modules/@jridgewell/resolve-uri/dist/resolve-uri.umd.js.map
/ts_src/node_modules/ts-node/dist/resolver-functions.d.ts
/ts_src/node_modules/ts-node/dist/resolver-functions.js
/ts_src/node_modules/ts-node/dist/resolver-functions.js.map
/ts_src/node_modules/diff/runtime.js
/ts_src/node_modules/typescript/SECURITY.md
/ts_src/node_modules/diff/lib/diff/sentence.js
/ts_src/Solution57.js
/ts_src/Solution57.js.map
/ts_src/Solution57.ts
/ts_src/node_modules/@jridgewell/trace-mapping/dist/types/sort.d.ts
/ts_src/node_modules/@cspotcode/source-map-support/source-map-support.d.ts
/ts_src/node_modules/@cspotcode/source-map-support/source-map-support.js
/ts_src/node_modules/@jridgewell/sourcemap-codec/dist/types/sourcemap-codec.d.ts
/ts_src/node_modules/@jridgewell/sourcemap-codec/dist/sourcemap-codec.mjs
/ts_src/node_modules/@jridgewell/sourcemap-codec/dist/sourcemap-codec.mjs.map
/ts_src/node_modules/@jridgewell/sourcemap-codec/dist/sourcemap-codec.umd.js
/ts_src/node_modules/@jridgewell/sourcemap-codec/dist/sourcemap-codec.umd.js.map
/ts_src/node_modules/@jridgewell/trace-mapping/dist/types/sourcemap-segment.d.ts
/ts_src/node_modules/ts-node/dist/child/spawn-child.d.ts
/ts_src/node_modules/ts-node/dist/child/spawn-child.js
/ts_src/node_modules/ts-node/dist/child/spawn-child.js.map
/ts_src/node_modules/@types/node/stream.d.ts
/ts_src/node_modules/@types/node/assert/strict.d.ts
/ts_src/node_modules/@types/node/string_decoder.d.ts
/ts_src/node_modules/@jridgewell/trace-mapping/dist/types/strip-filename.d.ts
/ts_src/node_modules/ts-node/dist/transpilers/swc.d.ts
/ts_src/node_modules/ts-node/dist/transpilers/swc.js
/ts_src/node_modules/ts-node/transpilers/swc.js
/ts_src/node_modules/ts-node/dist/transpilers/swc.js.map
/ts_src/node_modules/ts-node/transpilers/swc-experimental.js
/ts_src/node_modules/@types/node/test.d.ts
/ts_src/node_modules/typescript/ThirdPartyNoticeText.txt
/ts_src/node_modules/@types/node/timers.d.ts
/ts_src/node_modules/@types/node/tls.d.ts
/ts_src/node_modules/@jridgewell/trace-mapping/dist/types/trace-mapping.d.ts
/ts_src/node_modules/@jridgewell/trace-mapping/dist/trace-mapping.mjs
/ts_src/node_modules/@jridgewell/trace-mapping/dist/trace-mapping.mjs.map
/ts_src/node_modules/@jridgewell/trace-mapping/dist/trace-mapping.umd.js
/ts_src/node_modules/@jridgewell/trace-mapping/dist/trace-mapping.umd.js.map
/ts_src/node_modules/@types/node/trace_events.d.ts
/ts_src/node_modules/ts-node/register/transpile-only.js
/ts_src/node_modules/ts-node/esm/transpile-only.mjs
/ts_src/node_modules/ts-node/dist/ts-compiler-types.d.ts
/ts_src/node_modules/ts-node/dist/ts-compiler-types.js
/ts_src/node_modules/ts-node/dist/ts-compiler-types.js.map
/ts_src/node_modules/ts-node/dist/ts-internals.d.ts
/ts_src/node_modules/ts-node/dist/ts-internals.js
/ts_src/node_modules/ts-node/dist/ts-internals.js.map
/ts_src/node_modules/.bin/ts-node
/ts_src/node_modules/.bin/ts-node-cwd
/ts_src/node_modules/.bin/ts-node-esm
/ts_src/node_modules/.bin/ts-node-script
/ts_src/node_modules/.bin/ts-node-transpile-only
/ts_src/node_modules/.bin/ts-script
/ts_src/node_modules/ts-node/dist/ts-transpile-module.d.ts
/ts_src/node_modules/ts-node/dist/ts-transpile-module.js
/ts_src/node_modules/ts-node/dist/ts-transpile-module.js.map
/ts_src/node_modules/.bin/tsc
/ts_src/node_modules/typescript/bin/tsc
/ts_src/node_modules/typescript/lib/tsc.js
/ts_src/node_modules/@tsconfig/node10/tsconfig.json
/ts_src/node_modules/@tsconfig/node12/tsconfig.json
/ts_src/node_modules/@tsconfig/node14/tsconfig.json
/ts_src/node_modules/@tsconfig/node16/tsconfig.json
/ts_src/node_modules/ts-node/node10/tsconfig.json
/ts_src/node_modules/ts-node/node12/tsconfig.json
/ts_src/node_modules/ts-node/node14/tsconfig.json
/ts_src/node_modules/ts-node/node16/tsconfig.json
/tsconfig.json
/ts_src/node_modules/ts-node/tsconfig.schema.json
/ts_src/node_modules/ts-node/tsconfig.schemastore-schema.json
/ts_src/node_modules/ts-node/dist/tsconfig-schema.d.ts
/ts_src/node_modules/ts-node/dist/tsconfig-schema.js
/ts_src/node_modules/ts-node/dist/tsconfig-schema.js.map
/ts_src/node_modules/ts-node/dist/tsconfigs.d.ts
/ts_src/node_modules/ts-node/dist/tsconfigs.js
/ts_src/node_modules/ts-node/dist/tsconfigs.js.map
/ts_src/node_modules/.bin/tsserver
/ts_src/node_modules/typescript/bin/tsserver
/ts_src/node_modules/typescript/lib/tsserver.js
/ts_src/node_modules/typescript/lib/tsserverlibrary.d.ts
/ts_src/node_modules/typescript/lib/tsserverlibrary.js
/ts_src/node_modules/@types/node/tty.d.ts
/ts_src/node_modules/ts-node/register/type-check.js
/ts_src/node_modules/@jridgewell/trace-mapping/dist/types/types.d.ts
/ts_src/node_modules/ts-node/dist/transpilers/types.d.ts
/ts_src/node_modules/ts-node/dist/transpilers/types.js
/ts_src/node_modules/ts-node/dist/transpilers/types.js.map
/ts_src/node_modules/typescript/lib/typescript.d.ts
/ts_src/node_modules/typescript/lib/typescript.js
/ts_src/node_modules/typescript/loc/lcl/CHS/TypeScriptTasks/TypeScript.Tasks.dll.lcl
/ts_src/node_modules/typescript/loc/lcl/CHT/TypeScriptTasks/TypeScript.Tasks.dll.lcl
/ts_src/node_modules/typescript/loc/lcl/CSY/TypeScriptTasks/TypeScript.Tasks.dll.lcl
/ts_src/node_modules/typescript/loc/lcl/DEU/TypeScriptTasks/TypeScript.Tasks.dll.lcl
/ts_src/node_modules/typescript/loc/lcl/ESN/TypeScriptTasks/TypeScript.Tasks.dll.lcl
/ts_src/node_modules/typescript/loc/lcl/FRA/TypeScriptTasks/TypeScript.Tasks.dll.lcl
/ts_src/node_modules/typescript/loc/lcl/ITA/TypeScriptTasks/TypeScript.Tasks.dll.lcl
/ts_src/node_modules/typescript/loc/lcl/JPN/TypeScriptTasks/TypeScript.Tasks.dll.lcl
/ts_src/node_modules/typescript/loc/lcl/KOR/TypeScriptTasks/TypeScript.Tasks.dll.lcl
/ts_src/node_modules/typescript/loc/lcl/PLK/TypeScriptTasks/TypeScript.Tasks.dll.lcl
/ts_src/node_modules/typescript/loc/lcl/PTB/TypeScriptTasks/TypeScript.Tasks.dll.lcl
/ts_src/node_modules/typescript/loc/lcl/RUS/TypeScriptTasks/TypeScript.Tasks.dll.lcl
/ts_src/node_modules/typescript/loc/lcl/TRK/TypeScriptTasks/TypeScript.Tasks.dll.lcl
/ts_src/node_modules/typescript/loc/lcl/CHS/Targets/TypeScriptCompile.xaml.lcl
/ts_src/node_modules/typescript/loc/lcl/CHT/Targets/TypeScriptCompile.xaml.lcl
/ts_src/node_modules/typescript/loc/lcl/CSY/Targets/TypeScriptCompile.xaml.lcl
/ts_src/node_modules/typescript/loc/lcl/DEU/Targets/TypeScriptCompile.xaml.lcl
/ts_src/node_modules/typescript/loc/lcl/ESN/Targets/TypeScriptCompile.xaml.lcl
/ts_src/node_modules/typescript/loc/lcl/FRA/Targets/TypeScriptCompile.xaml.lcl
/ts_src/node_modules/typescript/loc/lcl/ITA/Targets/TypeScriptCompile.xaml.lcl
/ts_src/node_modules/typescript/loc/lcl/JPN/Targets/TypeScriptCompile.xaml.lcl
/ts_src/node_modules/typescript/loc/lcl/KOR/Targets/TypeScriptCompile.xaml.lcl
/ts_src/node_modules/typescript/loc/lcl/PLK/Targets/TypeScriptCompile.xaml.lcl
/ts_src/node_modules/typescript/loc/lcl/PTB/Targets/TypeScriptCompile.xaml.lcl
/ts_src/node_modules/typescript/loc/lcl/RUS/Targets/TypeScriptCompile.xaml.lcl
/ts_src/node_modules/typescript/loc/lcl/TRK/Targets/TypeScriptCompile.xaml.lcl
/ts_src/node_modules/typescript/loc/lcl/CHS/TypeScriptDebugEngine/TypeScriptDebugEngine.dll.lcl
/ts_src/node_modules/typescript/loc/lcl/CHT/TypeScriptDebugEngine/TypeScriptDebugEngine.dll.lcl
/ts_src/node_modules/typescript/loc/lcl/CSY/TypeScriptDebugEngine/TypeScriptDebugEngine.dll.lcl
/ts_src/node_modules/typescript/loc/lcl/DEU/TypeScriptDebugEngine/TypeScriptDebugEngine.dll.lcl
/ts_src/node_modules/typescript/loc/lcl/ESN/TypeScriptDebugEngine/TypeScriptDebugEngine.dll.lcl
/ts_src/node_modules/typescript/loc/lcl/FRA/TypeScriptDebugEngine/TypeScriptDebugEngine.dll.lcl
/ts_src/node_modules/typescript/loc/lcl/ITA/TypeScriptDebugEngine/TypeScriptDebugEngine.dll.lcl
/ts_src/node_modules/typescript/loc/lcl/JPN/TypeScriptDebugEngine/TypeScriptDebugEngine.dll.lcl
/ts_src/node_modules/typescript/loc/lcl/KOR/TypeScriptDebugEngine/TypeScriptDebugEngine.dll.lcl
/ts_src/node_modules/typescript/loc/lcl/PLK/TypeScriptDebugEngine/TypeScriptDebugEngine.dll.lcl
/ts_src/node_modules/typescript/loc/lcl/PTB/TypeScriptDebugEngine/TypeScriptDebugEngine.dll.lcl
/ts_src/node_modules/typescript/loc/lcl/RUS/TypeScriptDebugEngine/TypeScriptDebugEngine.dll.lcl
/ts_src/node_modules/typescript/loc/lcl/TRK/TypeScriptDebugEngine/TypeScriptDebugEngine.dll.lcl
/ts_src/node_modules/typescript/loc/lcl/CHS/Targets/TypeScriptProjectProperties.xaml.lcl
/ts_src/node_modules/typescript/loc/lcl/CHT/Targets/TypeScriptProjectProperties.xaml.lcl
/ts_src/node_modules/typescript/loc/lcl/CSY/Targets/TypeScriptProjectProperties.xaml.lcl
/ts_src/node_modules/typescript/loc/lcl/DEU/Targets/TypeScriptProjectProperties.xaml.lcl
/ts_src/node_modules/typescript/loc/lcl/ESN/Targets/TypeScriptProjectProperties.xaml.lcl
/ts_src/node_modules/typescript/loc/lcl/FRA/Targets/TypeScriptProjectProperties.xaml.lcl
/ts_src/node_modules/typescript/loc/lcl/ITA/Targets/TypeScriptProjectProperties.xaml.lcl
/ts_src/node_modules/typescript/loc/lcl/JPN/Targets/TypeScriptProjectProperties.xaml.lcl
/ts_src/node_modules/typescript/loc/lcl/KOR/Targets/TypeScriptProjectProperties.xaml.lcl
/ts_src/node_modules/typescript/loc/lcl/PLK/Targets/TypeScriptProjectProperties.xaml.lcl
/ts_src/node_modules/typescript/loc/lcl/PTB/Targets/TypeScriptProjectProperties.xaml.lcl
/ts_src/node_modules/typescript/loc/lcl/RUS/Targets/TypeScriptProjectProperties.xaml.lcl
/ts_src/node_modules/typescript/loc/lcl/TRK/Targets/TypeScriptProjectProperties.xaml.lcl
/ts_src/node_modules/typescript/lib/typescriptServices.d.ts
/ts_src/node_modules/typescript/lib/typescriptServices.js
/ts_src/node_modules/typescript/lib/typesMap.json
/ts_src/node_modules/typescript/lib/typingsInstaller.js
/ts_src/node_modules/@types/node/url.d.ts
/ts_src/node_modules/@types/node/util.d.ts
/ts_src/node_modules/ts-node/dist/util.d.ts
/ts_src/node_modules/ts-node/dist/util.js
/ts_src/node_modules/ts-node/dist/util.js.map
/ts_src/node_modules/@types/node/v8.d.ts
/ts_src/node_modules/v8-compile-cache-lib/v8-compile-cache.d.ts
/ts_src/node_modules/v8-compile-cache-lib/v8-compile-cache.js
/ts_src/node_modules/@types/node/vm.d.ts
/ts_src/node_modules/acorn-walk/dist/walk.d.ts
/ts_src/node_modules/acorn-walk/dist/walk.js
/ts_src/node_modules/acorn-walk/dist/walk.mjs
/ts_src/node_modules/@types/node/wasi.d.ts
/ts_src/node_modules/typescript/lib/watchGuard.js
/ts_src/node_modules/@types/node/stream/web.d.ts
/ts_src/node_modules/diff/lib/diff/word.js
/ts_src/node_modules/@types/node/worker_threads.d.ts
/ts_src/node_modules/diff/lib/convert/xml.js
/ts_src/node_modules/@types/node/zlib.d.ts
